.nav__list {
    display: flex;
    gap: 50px;
    padding-left: 0%;
    margin-left: 0%;
  }
  
  .nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .nav__link {
    transition: color 250ms var(--cubic);
  }
  .nav__link:hover,
  .nav__link:focus {
    color: var(--accent-txt);
    padding: 32px 0;
  }
  
  .nav__link,
  .nav-contacts__mail,
  .nav-contacts__phone {
    text-decoration: none;
    color: currentColor;
  }
  
  .nav-contacts__list {
    display: flex;
    padding-left: 0px;
    gap: 30px;
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0px;
    align-items: center;
  }
  
  .nav-contacts__phone {
    padding-right: 0px;
  }
  
  .nav-contacts__mail {
    margin-left: 318px;
  }
  
  .nav-contacts__mail,
  .nav-contacts__phone {
    flex-basis: calc((100% - 50px) / 2);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--txt-cl);
  }
  .nav-contacts__mail {
    display: flex;
    gap: 10px;
    transition: color 250ms var(--cubic);
  }
  .nav-contacts__phone {
    display: flex;
    gap: 10px;
    transition: color 250ms var(--cubic);
  }
  .nav-contacts__icon {
    fill: #757575;
    transition: fill 250ms var(--cubic);
  }
  
  .nav__link--current {
    position: relative;
    text-decoration: none;
    color: var(--accent-txt);
    padding-bottom: 32px;
  }
  
  .nav__link--current::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
  
    display: block;
    background-color: #2196f3;
    height: 4px;
    width: 100%;
    border-radius: 2px;
  }
  .nav-contacts__mail:focus,
  .nav-contacts__mail:hover,
  .nav-contacts__phone:hover,
  .nav-contacts__phone:focus {
    color: var(--accent-txt);
  }
  
  .nav-contacts__mail:focus .nav-contacts__icon,
  .nav-contacts__mail:hover .nav-contacts__icon {
    fill: var(--accent-txt);
  }
  .nav-contacts__phone:hover .nav-contacts__icon,
  .nav-contacts__phone:focus .nav-contacts__icon {
    fill: var(--accent-txt);
  }