h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}
link {
  text-decoration: none;
    color: currentColor;
  }
  .nav__list,
.nav-contacts__list,
.advantage__list,
.scope__list,
.team__list,
.filter__list,
.projects-list,
.clients__list,
.social-list,
.footer-social__list {
  list-style: none;
}